@model IEnumerable<SuperHero.Models.Superheros>

@{
    ViewData["Title"] = "SuperHeroes";
}

<h1>The SuperHero!</h1>
<img class="img-fluid mx-auto" src="~/deadpool_2.1526945483.jpg" alt="SuperHero" width="300" height="240" />



<p>
    <a asp-action="Create">Create New SuperHero</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlterEgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryAbility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryAbility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catchphrase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlterEgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryAbility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryAbility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catchphrase)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
